.hero {}

.modify {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;

  .title {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1em;
    color: var(--primary-color);
  }

  .position {
    display: flex;
    flex-direction: column;

    .select {
      color: var(--grey-color);
      font-weight: 700;
    }
  }

  .candidates-group {
    display: flex;
    flex-direction: column;
    gap: 0.2em;

    .candidate {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2em;

      .group {
        display: flex;
        gap: 0.5em;

        img {
          border-radius: 100%;
          min-height: 2.1em;
          min-width: 2.7em;
          max-width: 2.7em;
          border: 1px solid var(--border-color);
        }

        .candidate-details {

          .name {
            color: var(--primary-color);
            font-weight: 700;
          }

          .party-name {
            color: var(--grey-color);
          }
        }
      }
    }

  }

  .field.checkbox {

    input[type="checkbox"] {
      transform: scale(1.5);
    }

    input[type="checkbox"]:checked {
      background-color: var(--grey-color);
    }
  }

  .abstain {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
  }

  .actions {
    display: flex;
    justify-content: flex-end;
  }



  .fields {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;

    .field {
      flex: 50%;
      display: flex;
      flex-direction: column;
      gap: 0.4em;

      label {
        font-weight: 700;
        color: var(--primary-color);
      }

      input {
        padding: 0.8em;
        border: 1px solid var(--grey-color);
        border-radius: 2px;
      }

      textarea {
        min-height: 20em;
        resize: none;
        padding: 0.5em;
        border-radius: 2px;
      }

      select {
        padding: 0.8em;
        border: 1px solid var(--grey-color);
        border-radius: 2px;
      }
    }

    .field.text-gray {
      color: var(--grey-color);
    }

    .field.button {
      display: flex;
      align-items: flex-end;
    }

    .field.checkbox {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5em;
    }

    .field.full {
      flex: 100%;
    }

    .field.single {
      flex: 49%;
    }

    .field.half {
      flex: 25%;
    }

    .field.readonly {

      input {
        background-color: var(--bg-color);
        outline: none;
      }
    }

    .group {
      display: flex;
      gap: 1em;

      .field.name {
        flex: 45%;
      }

      .field.name:last-child {
        flex: 5%;
      }
    }
  }
}