@use '../globals/typography' as util;

html {
  box-sizing: border-box;
  font-size: 100%;
  background-color: var(--body-color);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  list-style: none;
  text-decoration: none;
  font-family: util.$font;
  overflow-x: hidden;
}